body {
    background-color: rgb(237, 229, 229);
}

#booksContainer p {
    color: #fff;
    font-size: 20px;

}


.bookListContainer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 100px;
}
#bookList {
    display: grid; /* 3 lika kolumner */
    gap: 20px;
    padding: 0; /* Tar bort standardpadding */
}

.listItem {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 2px;
}

.btn-primary {
    background-color: #343434;
    border-color: #343434;
}

.btn-primary:hover {
    background-color: #969696; 
    border-color: #969696;
}

#buttons .btnStyling {
    background-color: #343434; 
    color: #fff;
    border: 0.1px solid #343434; 
    border-color: #fff; 
    padding: 7px;
    border-radius: 5px; 
    font-size: 14px; 

}


#buttons .btnStyling:hover {
    background-color: #969696;
    border-color: #fff; 
}

/* För att säkerställa att knappar ser bra ut på mindre skärmar */
#buttons {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
    flex-wrap: wrap; 
}