body {
    background-color: rgb(255, 255, 255);
}

#booksContainer p {
    color: #fff;
    font-size: 20px;

}


.bookListContainer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#bookList {
    display: grid; /* 3 lika kolumner */
    gap: 20px;
    padding: 0; /* Tar bort standardpadding */
}

.listItem {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 2px;
}

.btn-primary {
    background-color: #343434;
    border-color: #343434;
}

.btn-primary:hover {
    background-color: #969696; 
    border-color: #969696;
}

